@use "helpers" as *;

.field {
  display: flex;
  flex-direction: column;
  gap: fluid(14, 10);
}

.field__content {
  display: flex;
  flex-direction: column;
}

@include tablet {
  .field {
    font-size: fluid(15, 10);
  }
}