@use 'helpers' as *;

.progressBarContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: fluid-to-laptop(10, 7);
}
.titleBlock{
    display: flex;
    justify-content: space-between;
    >h5{
        font-size: fluid(20, 16);
    }
    >span{
        color: var(--color-red-button);
        font-weight: 700;
    }
}


.progressBar {
  width: 100%;
  background-color: var(--color-red-100);
  border-radius: fluid(10, 5);
}

/* размеры */
.progressBar--sm {
  height: fluid(10, 6);
}

.progressBar--md {
  height: fluid(14, 8);
}

.progressBar--lg {
  height: fluid(20, 10);
}

/* заполнение */
.fill {
  height: 100%;
  background: var(--color-red-button);
  border-radius: inherit;
  transition: width 0.3s ease;
}