@use "helpers" as*;

.badge{
    padding: fluid(5, 4) fluid(9, 7);
    border-radius: fluid(999, 999);
    font-size: fluid(12, 10);
    font-weight: 700;
}

.border{
    border: 1px solid;
}

.badge--default{
    background-color: var(--color-gray-400);
}

.badge--red{
    background-color: var(--color-red-100);
    color: var(--color-red-badge-color);
    border-color: var(--color-red-200);
}
.badge--yellow{
    background-color: var(--color-yellow-200);
    color: var(--color-yellow-400);
    border-color: var( --color-yellow-300);
}
.badge--green{
    background-color: var(--color-green-border);
    color: var(--color-green-600);
    border-color: var(--color-green-border-badge);
}