@use "helpers" as *;

.noField {
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: fluid(16, 12);
}

.noField__icon {
  opacity: 0.7;
}

.noField__description {
  opacity: 0.6;
}

.noField__button {
  display: flex;
  align-items: center;
  gap: 8px;
}