@use "helpers" as *;

.userCard {
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}

.userCard__info {
  display: flex;
  align-items: center;
  gap: fluid(20, 14);
}

.userCard__item {
  display: flex;
  align-items: center;
  gap: fluid(8, 6);
  color: var(--color-white);
  font-size: fluid(14, 12);
}

.userCard__icon {
  width: 30px;
  height: 30px;
  color: var(--color-red-text-button);
  flex-shrink: 0;
}


@include mobile {
  .userCard {
    flex-direction: column;
    align-items: flex-start;
  }

  .userCard__info {
    width: 100%;
    justify-content: space-between;
  }

  .userCard__button {
    width: 100%;
  }
}